@model SpotifyTool.Models.Library.LibraryStats

@{
    ViewBag.Title = "ViewStats";
}
<br />
<hr />

<h2 class="top-50">Your Library</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrackCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrackCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArtistCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtistCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AveragePopularity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AveragePopularity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArtistsWithMostTracks)
        </dt>

        <dd>
            @{ int count = 0; }
            @foreach (var item in Model.ArtistsWithMostTracks)
            {
                if (count % 5 == 0)
                {
                    @:<div class="list-group list-group-numbered list-group-horizontal-md">
                        <button type="submit" class="list-group-item list-group-item-action position-relative" id="@item.Key.Name" title="View all tracks by this Artist" onclick="location.href='@Url.Action("TracksByArtist", "Library", new { @item.Key.Id})'">
                            @item.Key.Name
                            <span class="badge bg-secondary count">@item.Value</span>
                        </button>
                }
                else
                {
                    <button type="submit" class="list-group-item list-group-item-action position-relative" id="@item.Key.Name" title="View all tracks by this Artist" onclick="location.href='@Url.Action("TracksByArtist", "Library", new { @item.Key.Id})'">
                        @item.Key.Name
                        <span class="badge bg-secondary count">@item.Value</span>
                    </button>
                    if (count % 5 == 4)
                    {
                       @:</div>
                    }
                }
                count++;
            }
        </dd>
    </dl>
</div>

<style>
    .count {
        z-index: 1;
        position: absolute;
        top: 1px;
        right: 25px;
        margin-right: -25px;
        background-color: #d9534f;
    }
</style>
